




#outer_yo{
  margin-top: 100px;
  position: absolute;
  display: flex;
  background-color: rgba(255, 110, 203, 0.2);
  height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.row_one{
  align-self: center;
  justify-content: space-around;
  background-color: white;
  width: 90%;
  height: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  display: flex;
}

.row_two{
  align-self: center;
  justify-content: space-around;
  background-color: white;
  width: 90%;
  height: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row-reverse;
}

.image{
  align-content: center;
  color: white;
  height: 80%;
  width: 10%;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 150, 0.5);
  align-self: center;
  margin-right: 5px;
  /* margin-left: 5px; */
}

.text{
  height: 80%;
  width: 80%;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 150, 0.1);
  align-self: center;
  margin-left: 5px;
  /* margin-right: 5px; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}











#scroll{
  display: flex;
  background-color: rgba(255, 0, 0, 0.7);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  right: 20px;
  top: 630px
}













#outer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.one{
  background-color: rgba(255, 99, 71, 0.4);
  width: 17.5%;
  height: 80%;
  align-self: center;
  margin-left: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.two{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 99, 71, 0.4);
  width: 30%;
  height: 80%;
  align-self: center;
  margin-right: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.three{
  background-color: rgba(0, 255, 255, 0.4);
  width: 25%;
  height: 80%;
  align-self: center;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

body{
  height: 1000px;
}

#outer_footer{
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}




